{%extends 'NewsBite/base2.html'%}
{% block body %}


{% load static %}

  <style type="text/css">
    #bg{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
  </style>


<link rel="stylesheet" type="text/css" href="{% static 'NewsBite/bootstrap.min.css' %}">


    <div class="container-fluid" style="padding-top: 110px">
    	<div class="row">
    		

    		<div class="col-sm-4">
    			
    		</div>




                    
<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-6">
      <div class="card" style="background-image: url('https://images.unsplash.com/photo-1525184990509-4fd44ed9e056?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTM0fHxuZXdzfGVufDB8fDB8fHww.jpg'); background-size: cover;">
        <div class="card-header" style="color: #ffffff;">
          <h3 class="card-title text-center">Please Sign In</h3>
        </div>
         <div class="card-body" style="color: white;">
          <form method="POST" action="">
            {% csrf_token %}
            <div class="form-group">
              <input class="form-control" placeholder="Username" name="username" type="text" required="">
            </div>
            <div class="form-group">
              <input class="form-control" placeholder="Password" name="password" type="password" required="">
            </div>
            <input class="btn btn-lg btn-success btn-block" type="submit" value="Login" style="background-color: #808080; color: #000000; font-weight: bold;">
          </form>
          <br>
          <br>
          {% for message in messages %}
            <div class="alert alert-danger" role="alert">
              {{ message }}
            </div>
          {% endfor %}
          <br>
        </div>
      </div>
      <div class="text-center" style="color: #000000;">
        Don't have an account yet? <a href="{% url 'register'%}">Sign up</a>
      </div>
    </div>
  </div>
</div>


    		<div class="col-sm-4">
    			
    		</div>
    	</div>


    </div>


{% endblock %}